<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h3>Available routes</h3>
<table class="table" style="width: 50%;
      margin-left: 15%;
      margin-top: 5%;
      border: 2px solid #5bc0de;
      background-color: #9a565600;">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Route ID</th>
        <th scope="col">From Location</th>
        <th scope="col">To Location</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Arrival Time</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td>1</td>
        <td>Kansas City</td>
        <td>St Louis</td>
        <td>10 April 2019 10:00:00AM</td>
        <td>10 April 2019 3:00:00PM</td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-ok">Book</span></button></td>
    </tr>
    <tr >
        <td>1</td>
        <td>St Louis </td>
        <td>Chicago </td>
        <td>10 April 2019 3:00:00PM </td>
        <td>10 April 2019 7:00:00PM </td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-ok">Book</span></button></td>
    </tr>
    </tbody>
</table>

</body>
</html>